#page-mod-stampcoll-view {

    .box.collection {
        padding: 1em;
        border: 1px solid #ddd;
    }

    table.collection.multiuser {
        margin: 1em auto;
        th img.sort {
            margin-left: 5px;
        }
        .picture {
            width: 35px;
        }
        .stamps {
            width: 60%;
        }
    }
}

#page-mod-stampcoll-managestamps {
    table.collection.management {
        margin: 1em auto;
        th img.sort {
            margin-left: 5px;
        }
        .holderinfo  {
            width: 35px;
        }
        label {
            font-size: 80%;
        }
    }
}
