#page-mod-stampcoll-view .groupselector {
    text-align: center;
}

#page-mod-stampcoll-view .stampform {
    width: 50%;
    margin: 2em auto 0em auto;
}

/**
 * Multiuser collection
 */
#page-mod-stampcoll-view .collection.multiuser {
    width: 90%;
    margin: 1em auto;
}

#page-mod-stampcoll-view table.collection.multiuser td,
#page-mod-stampcoll-view table.collection.multiuser th {
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

#page-mod-stampcoll-view table.collection.multiuser .r1 {
    background-color: #FFFFFF;
}

#page-mod-stampcoll-view table.collection.multiuser .picture {
    width: 35px;
}

#page-mod-stampcoll-view table.collection.multiuser .fullname {
    text-align: left;
}

#page-mod-stampcoll-view table.collection.multiuser .count {
    width: 10em;
    text-align: center;
}

#page-mod-stampcoll-view table.collection.multiuser .stamps {
    width: 60%;
}

/**
 * Single user collection
 */
#page-mod-stampcoll-view .collection.singleuser {
    width: 60%;
    margin: 1em auto;
    border: 1px solid #ddd;
    padding: 0.5em;
    background-color: white;
    text-align:center;
}

/**
 * Management collection
 */
#page-mod-stampcoll-managestamps table.collection.management {
    width: 90%;
    margin: 1em auto;
}

#page-mod-stampcoll-managestamps table.collection.management td,
#page-mod-stampcoll-managestamps table.collection.management th {
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

#page-mod-stampcoll-managestamps table.collection.management .holderinfo .c0 {
    width: 35px;
}

#page-mod-stampcoll-managestamps table.collection.management .holderinfo .c1 {
    text-align: left;
}

#page-mod-stampcoll-managestamps table.collection.management .holderinfo .c2 {
    text-align: center;
}

#page-mod-stampcoll-managestamps #stampsmanager .submitwrapper {
    text-align: center;
    margin-bottom: 2em;
}

